.tutorial.balloon {
  z-index: 1000;
  border-radius: 0.4rem;
  background-color: #fdf6e3;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 1rem;
  
  font-size: 1rem !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

.tutorial.balloon > .content {
	height: 100%;
}

.tutorial.balloon h1,
.tutorial.balloon h2,
.tutorial.balloon h3,
.tutorial.balloon h3,
.tutorial.balloon h5 {
  color: black !important;
}

.tutorial.balloon .sub.header,
.tutorial.balloon p {
	color: #555;
	font-size: 16px;
}

.tutorial.balloon.top.tail:before,
.tutorial.balloon.bottom.tail:after {
  background-color: #fdf6e3;
  background-image: none;
  content: "";
  height: 0.6rem;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transition: background 0.1s linear 0s;
  width: 0.6rem;
  z-index: -2;
}

.tutorial.balloon.bottom.tail:after {
  margin-top: 0.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.tutorial.balloon.bottom.left.tail:after {
  left: 0.4rem;
}

.tutorial.balloon.bottom.right.tail:after {
  right: 0.4em;
}

.tutorial.balloon.with.shadow {
	animation: add-shadow 1s forwards;
	-webkit-animation: add-shadow 1s forwards;
}

@keyframes add-shadow
{
  from {
   box-shadow: none;
  }
  to {
   box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  }
}

@-webkit-keyframes add-shadow
{
  from {
   box-shadow: none;
  }
  to {
   box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  }
}

.tutorial.balloon.without.shadow {
  animation: remove-shadow 1s forwards;
  -webkit-animation: remove-shadow 1s forwards;
}

@keyframes remove-shadow
{
  from {
   box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  }
  to {
   box-shadow: none;
  }
}

@-webkit-keyframes remove-shadow
{
  from {
   box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  }
  to {
   box-shadow: none;
  }
}

